@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #e07b39;
}

header .logo {
    text-decoration: none;
}

header .logo h2 {
    color: #fff;
}

header .links {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 10px;
}

header .links li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

section {
    padding: 30px 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 0 0 15px #ddd;
}

h1 span {
    display: block;
}

#firstSec p {
    text-transform: capitalize;
    font-size: 20px;
}

table {
    width: 100%;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px 0;
}

thead {
    background-color: #000;
    color: #fff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #e07b39;
}

.footerLogo {
    font-size: 30px;
    color: #fff;
    margin: 0;
}

footer .info {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer .info a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

footer .info a span {
    font-weight: bold;
    margin-right: 10px;
}

.gallerySec .row {
    gap: 24px 0;
}

.gallerySec img {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 15px #ddd;
}

.gallerySec img:hover {
    transform: scale(1.2);
}

.themeBtn {
    display: inline-block;
    padding: 10px 30px;
    background: linear-gradient(to right, #000, #000);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e07b39;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #e07b39;
    box-shadow: none;
    outline: none;
    transition: all 0.3s ease;
    font-size: 22px;
    font-weight: 600;
}

.themeBtn:hover {
    color: #fff;
    background-size: 0% 100%;
}

.formSec .row{
    gap: 24px 0;
}

.formSec h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}